
<!-- <ng-container *ngIf="isLoading$ | async as Loading">
	<mat-spinner *ngIf="Loading"></mat-spinner>
</ng-container>
<form [formGroup]="profileForm" class="form-container" >	
	<fieldset class="container" role="radiogroup">
		<mat-radio-group
		  aria-label="Select an option"
		  formControlName="technology"
		  class="radio-group"
		  aria-labelledby="radio-group-label"
		  tabIndex="-1"
		  required
		>
		  <mat-radio-button
			*ngFor="let frameWork of technologyList$ | async; let i = index"
			value="{{ frameWork.name }}"
			[ngClass]="frameWork.name === selectedValue ? 'light-grey-bg' : 'green'"
			class="radio-button"
			(click)="checked($event, frameWork.name)"
			ngClass=""
			role="Radio"
			(change)="radioChange($event, frameWork.name)"
		  >
			{{ frameWork.name }}
		  </mat-radio-button>
		   <mat-error
			 *ngIf="profileForm.get('technology')?.invalid"
		  >Required</mat-error>
		  <span class="selected-value"> You Selected: {{ selectedValue }} </span>
		</mat-radio-group>
		<input type="button" value="submit" (click)="saveForm()" />
	  </fieldset>

</form> -->


<lib-my-lib-bh> </lib-my-lib-bh>

 
